<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelect($event)" />
    </li>
    }
  </ul>

  @if (selectedUserDetails){
  <app-tasks [name]="selectedUserDetails.name" />
  } @else {
  <h1 id="fallback">Válassz ki felhasználót</h1>
  }

  <!-- 
  Az Angular régebbi verzióiban az alábbi kód működik, a fentebb látható a 17-ben került bevezetésre és még nem terjedt el.
  Az app.components.ts warningot fog adni, mert benne hagyom az NgFor és NgIf direktívákat.   
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelect($event)" />
    </li>
  </ul>

  <app-tasks
    *ngIf="selectedUserDetails; else fallback"
    [name]="selectedUserDetails!.name"
  />
  <ng-template #fallback>
    <p id="fallback">Válassz ki egy felhasználót</p>
  </ng-template> 
  -->
</main>
